html, body {
    height: 100%;
    margin: 0;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.mainContent {
    padding-bottom: 80px;
    min-height: calc(100vh - 60px);
    overflow-y: auto;
}

.navLinks {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 60px;
    color: rgba(161, 130, 74, 1);
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font: 400 16px 'Plus Jakarta Sans', -apple-system, Roboto, Helvetica, sans-serif;
}

.navLink {
    min-width: 120px;
    white-space: nowrap;
    width: 160px;
}

.socialIcons {
    display: flex;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.iconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
}

.icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100%;
}

.copyright {
    margin-top: 16px;
    color: rgba(161, 130, 74, 1);
    text-align: center;
    font: 400 16px 'Plus Jakarta Sans', -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
    .navLinks {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .navLink {
        width: auto;
        white-space: initial;
        text-align: center;
    }

    .socialIcons {
        gap: 15px;
    }

    .footer {
        padding: 15px 0;
    }
}