.inputContainer {
    display: flex;
    min-width: 160px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    flex-basis: 0%;
}

.label {
    width: 100%;
    padding-bottom: 8px;
    color: #121417;
    font-weight: 500;
    white-space: nowrap;
}

.input {
    align-self: stretch;
    border-radius: 12px;
    background-color: #fff;
    min-height: 40px;
    width: 100%;
    overflow: hidden;
    color: #637587;
    font-weight: 400;
    padding: 10px 12px; 
    border: 1px solid #dbe0e5;
    font-size: 14px;
}

@media (max-width: 991px) {
    .inputContainer,
    .label,
    .input {
        max-width: 100%;
        white-space: initial;
    }
}