.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: sticky;
    bottom: 0; 
    padding: 10px 0;
    background-color: #fff; 
    z-index: 10;
}

.paginationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: #1c170d;
    font: 400 14px 'Plus Jakarta Sans', -apple-system, Roboto, Helvetica, sans-serif;
    cursor: pointer;
}

.paginationButton.active {
    background-color: #f5f0e5;
    font-weight: 700;
}

.paginationIcon {
    width: 18px;
    height: 18px;
}
