.profileList {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 800px;
    width: 100%;
    position: relative;
}

.notificationContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: -20px; 
}

.scrollContainer {
    overflow-y: auto;
    max-height: calc(100vh - 30px);
    padding: 16px;
}

.profileCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.profileInfo {
    display: flex;
    align-items: center;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.textContainer {
    margin-left: 10px;
}

.followButtonContainer {
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 16px;
    background-color: rgba(245, 240, 229, 1);
    display: flex;
    min-width: 84px;
    min-height: 40px;
    height: 40px;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    padding: 0 16px;
    transition: background-color 0.3s ease;
}

.buttonText {
    font-size: 14px;
    font-weight: 500;
    color: #a1824a;
}

.button:hover {
    background-color: rgba(230, 230, 230, 1);
}

.noDataMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.5rem;
    color: #555;
    text-align: center;
}

@media (max-width: 768px) {
    .profileCard {
        flex-direction: column;
    }

    .profileInfo {
        justify-content: center;
        margin-bottom: 10px;
    }

    .followButtonContainer {
        justify-content: center;
    }
}